.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
replit.nix

#Ignore obsidian folder (So that users can have their own obsidian vault configuration)
.obsidian/
!.obsidian/plugins/templater-obsidian/
!.obsidian/plugins/templater-obsidian/**

#Ignore specstory folder (Cursor chat export files, using Cursor extention Specstory)
.specstory/

#Ignore cursor folder (Cursor workspace files)
.cursor/

archive-to-do.md

wallet.json
manifest.json

.venv/